{% include 'base.html'%}
<!DOCTYPE html>
<html>
<head>
    <title>Página de Pago</title>
    <script src="https://js.stripe.com/v3/"></script>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
         
        }
        .content {
            text-align: center;
        }
    </style>
</head>
<body class="bg-primary">
    <div class="container-fluid d-flex justify-content-center align-items-center ">
        <div class="content">
            <h1>¡Gracias por comprar en Segunda vida!</h1>
            <h2>Te esperamos de vuelta muy pronto</h2>
        </div>
    </div>

    <script>
        function redirigir() {
            console.log("Redirigiendo a localhost...");
            window.location.href = "https://segundavida.pythonanywhere.com/";
        }

        // Esperar 5 segundos (5000 milisegundos) antes de redirigir
        setTimeout(redirigir, 5000);
    </script>
</body>
</html>
