
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <style>
        body {
            font-family: 'Playfair Display', serif;
            font-size: 3em;
            text-align: center;
            margin-top: 1%;
           
        }
    </style>
</head>
<body>
    {% include 'header.html'%}
    <div class="titulo">

        <div class="col p-4 text-center bg-primary">
            <div class="row">
                <h1>Bienvenido a Segunda Vida</h1>
            </div>
            <div class="row p-4">
                <h3>Encuentra lo que quieras, donde quieras y al precio que quieras</h3>
            </div>
        </div>

        <div class="border border-3 border-primary"></div>
  
    </div>
    <br>
<div class="container">
    <h4>Disfruta de la informática al mejor precio</h4>
    <div class="border border-1 border-dark"></div>

    <br>
<div class="row">
    {% for categoria in informaticos%}
    <div class="col-md-2" >
        <a href="{% url 'product_list' pk=categoria.pk%}">
        <div class="card pt-5"id="cart" >
            <div class="card-body text-center p-2 pt-3 pb-4">
                <i class="{{categoria.icono}}"  style="font-size: 4em;"></i>
            </div>
            <div class="card-footer border-0 text-center p-2" style=" text-decoration: none;">
                {{categoria.nombre}}
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
</div>
    <br><br>
    <h4>Se acerca el verano y con él el tiempo libre</h4>
    <div class="border border-1 border-dark"></div>

    <br>
<div class="row">
    {% for categoria in verano%}
  
    <div class="col-md-2" >
        <a href="{% url 'product_list' pk=categoria.pk%}">
        <div class="card pt-5"id="cart" >
            <div class="card-body text-center p-2 pt-3 pb-4">
                <i class="{{categoria.icono}}" style="font-size: 4em;"></i>
            </div>
            <div class="card-footer border-0 text-center p-2">
                {{categoria.nombre}}
            </div>
        </div>
    </a>
    </div>
   
    {% endfor%}
</div>
</body>