<!DOCTYPE html>
<html lang="en">
<head>
    <title>Productos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<style>

</style>
</head>
<body>
    {% include 'header.html'%}
    {% include 'navbar.html'%}    
  <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Filtros</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="form"> 
          <form method="post" action="{% url 'product_list' pk=object.pk%}">
            {% csrf_token %}

        <div class="row mb-3">
            <div class="col-md-6">
              <label for="precio_minimo" class="form-label">Precio mínimo</label>
              <input type="text" class="form-control" id="precio_minimo" name="precio_minimo" placeholder="Precio mínimo">      
            </div>
            <div class="col-md-6">
              <label for="precio_maximo" class="form-label">Precio máximo</label>
              <input type="text" class="form-control" id="precio_maximo" name="precio_maximo" placeholder="Precio máximo">      
            </div>
        </div>
        <div class="mb-3">
          <label for="exampleDataList" class="form-label">Datalist example</label>
          <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Busca tu provincia">
          <datalist id="datalistOptions">
          </datalist>
          </div>
        </div>

          
        
          <button class="btn btn-block btn-primary" type="submit">Buscar</button>      </div>
    
          </form>      
        </div>
  </div>
</div>
  </div>
</div>
  

    <main class="col">
      {% if busqueda %}
      <h2 style="margin-left: 10%;">Resultados de la búsqeda ({{numero}})</h2>

      {% else %}
      <h2 style="margin-left: 10%;">Productos en la categoria {{object}}</h2>

      {% endif %}
      <div class="border border-3 border-dark" style="margin-left: 10%; margin-right: 5%"></div>
      <br>
      <div class="btn btn-primary ml-4 mb-5 " style="width:5%;height: 5%; margin-left: 10%;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" >Filtrar</div>
      </div>

      <div class="container">


        <div class="row">
          {% if productos %}
            {% for product in productos %}
            <div class="col-md-4">
              <div class="card product-card">
                  <img src="{{product.imagen.url}}" class="card-img-top product-img" alt="Imagen del Producto 1">
                  <div class="card-body">
                      <h5 class="card-title">{{product.nombre}}</h5>
                      <p class="product-price">{{product.precio}}</p>
                      <a href="{% url 'product_detail' pk=product.pk%}" class="btn btn-primary">Ver más</a>
                  </div>
              </div>
            </div>
            {% endfor %}
            {% else %}

            <h1>Esta categoría no cuenta con productos actualmente. ¡Súbelos tu!</h1>
            
            {% endif %}
          </div> <!-- row end.// -->
  
  
          <nav class="mt-4" aria-label="Page navigation sample">
  
            {% if product.has_other_pages %}
            <ul class="pagination">
              {% if product.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ product.previous_page_number }}">Anterior</a></li>
              {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
              {% endif %}
  
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                {% endif %}
              {% endfor %}
  
              {% if products.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{product.next_page_number}}">Siguiente</a></li>
              {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
              {% endif %}
            </ul>
            {% endif %}
  
          </nav>
  
        </main> <!-- col.// -->
  </div>
      </div>
  
    </div>
  </section>
    </main>
</div>

        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            // Array con las opciones a añadir
            const provincias = ["A Coruña", "Álava", "Albacete", "Alicante", "Almería", "Asturias", "Ávila", "Badajoz", "Baleares", "Barcelona", "Burgos", "Cáceres", "Cádiz", "Cantabria", "Castellón", "Ciudad Real", "Córdoba", "Cuenca", "Girona", "Granada", "Guadalajara", "Guipúzcoa", "Huelva", "Huesca", "Jaén", "La Rioja", "Las Palmas", "León", "Lleida", "Lugo", "Madrid", "Málaga", "Murcia", "Navarra", "Ourense", "Palencia", "Pontevedra", "Salamanca", "Segovia", "Sevilla", "Soria", "Tarragona", "Santa Cruz de Tenerife", "Teruel", "Toledo", "Valencia", "Valladolid", "Vizcaya", "Zamora", "Zaragoza"];

        
            // Referencia al elemento datalist
            const datalist = document.getElementById('datalistOptions');
        
            // Añadir opciones al datalist
            provincias.forEach(provincia => {
                const option = document.createElement('option');
                option.value = provincia;
                datalist.appendChild(option);
            });
        });
        </script>
    </body>
</html>